@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Index1</title>    
        <script src="~/Content/bootstrap-paginator/lib/bootstrap.min.js"></script>
        <script src="~/Content/bootstrap-paginator/lib/jquery-1.9.1.min.js"></script>
        <link href="~/Content/bootstrap-paginator/css/bootstrap.min.css" rel="stylesheet" />
        
        <script src="~/Content/bootstrap-paginator/build/bootstrap-paginator.min.js"></script>

    </head>

    <script>
        $(function () {
            // ko.applyBindings(new ViewModel());
            //分页
            var options = {
                currentPage: 1,//当前页
                totalPages: $("#totalpage").val(),//总页数
                numberofPages: 5,//显示的页数

                itemTexts: function (type, page, current) { //修改显示文字
                    switch (type) {
                        case "first":
                            return "第一页";
                        case "prev":
                            return "上一页";
                        case "next":
                            return "下一页";
                        case "last":
                            return "最后一页";
                        case "page":
                            return page;
                    }
                }, onPageClicked: function (event, originalEvent, type, page) { //异步换页
                    //$.post("/Login/QueryPage", { id: page, }, function (data) {
                    //    // $("#logtable").html(data);
                    //    tableappend(result); //成功则执行表格刷新函数
                    //});
                    //alert(page);


                },

            };
            $("#example").bootstrapPaginator(options);
        });
    </script>
<body>
    <div>
          <div id="example"></div>
    <input  id="totalpage" type="hidden" value="3" />
    </div>
</body>
</html>
