@using MvcRead.Controls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>后台管理</title>
    <script src="~/Content/jquery-1.11.1.min.js"></script>
    <link href="~/Content/bootstrap-3.2.0/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/index.css" rel="stylesheet" />
    @* <script src="~/Content/bootstrap-3.2.0/dist/js/bootstrap.min.js"></script>    *@
    <script src="~/Content/bootstrap-3.2.0/dist/js/bootstrap.min.js"></script>
    <script src="~/Content/js/core/utils.js"></script>
    <script src="~/Content/bootstrap-paginator/build/bootstrap-paginator.min.js"></script>
    <link href="~/Content/css/pagination.css" rel="stylesheet" />
    <script src="~/Content/js/viewModel/common.js"></script>
    <script src="~/Content/Knockoutv3.2.0.js"></script>
 
    <script type="text/javascript">
        function plugin0() {
            return document.getElementById('plugin0');
        }
        plugin = plugin0;
        function addEvent(obj, name, func) {
            if (obj.attachEvent) {
                obj.attachEvent("on" + name, func);
            } else {
                obj.addEventListener(name, func, false);
                obj.addEventListener(name, func, true);
            }
        }
        
        function load() {
            addEvent(plugin(), 'KeyPnp', function (IsOut) {
                if (IsOut == 0) {
                    alert("U盾拨出.");
                    location.href = "/admin/LoginOut";
                }
                //else {
                //    alert("加密锁插入.");
                //}
            });
        }

    </script>
</head>
<body onload="load()">     
    <header>
        <div class="logo"></div>
        <!-- topbar starts -->
        @*   <div class="navbar navbar-default" role="navigation">*@

        @*  <div class="navbar-inner">*@
        @* <button type="button" class="navbar-toggle pull-left animated flip">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>*@
        @* <a class="navbar-brand" href="index.html">
                    <img alt="Charisma Logo" src="img/logo20.png" class="hidden-xs" />
                    <span>Charisma</span></a>*@

        <!-- user dropdown starts -->

        @*  <div class="btn-group pull-right">
                    <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                        <i class="glyphicon glyphicon-user"></i><span class="hidden-sm hidden-xs">@Session["UserName"]</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/home/index"><i class="glyphicon glyphicon-home"></i>返回首页</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#ModifyModal"><i class="glyphicon glyphicon-edit"></i>修改密码</a></li>
                        <li><a href="/admin/loginout"><i class="glyphicon glyphicon-off"></i>退出</a></li>
                    </ul>
                </div>*@
                
                

        <!-- user dropdown ends -->

        <!-- theme selector starts -->

        <!-- theme selector ends -->

               

        @* </div>*@
        @*  </div>*@
        <!-- topbar ends -->

    </header>
    <div class="container-fluid">
        <!-- left menu starts -->
        <div class="col-sm-2 col-lg-2">
            <div class="panel-group" id="accordion" style="margin-top: 30px;">
                @*<div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion"
                               href="#collapseOne">资料管理
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <ul>
                                <li><i class='glyphicon glyphicon-map-marker'></i> <a href="#" >Child Menu 1</a></li>
                                <li><i class='glyphicon glyphicon-map-marker'></i> <a href="#" >Child Menu 1</a></li>
                            </ul>
                            
                           
          
                        </div>
                    </div>
                </div>*@
                @MenuControls.Menu()           
            </div>

        </div>
        <div class="col-sm-10 col-lg-10">@RenderBody()</div>
        <!--/span-->
        <!-- left menu ends -->
        <!-- 编辑权限模态框（Modal） -->
        <div class="modal fade" id="ModifyModal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close"
                            data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title"><i class="glyphicon glyphicon-user"></i>修改密码
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" role="form">
                            <div id="ModifyAlert" class="alert alert-warning">
                                <a href="#" class="close" data-dismiss="alert">&times;</a>
                                <strong>错误！</strong>前后密码不匹配，请重新输入。
                            </div>
                            <div class="form-group hidden">
                                <label for="firstname" class="col-sm-2 control-label">userid</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" value="@Session["UserID"]" id="UserID"
                                               placeholder="请输入名字">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-2 control-label">输入密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="Password" required=""
                                        placeholder="请输入密码">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="lastname" class="col-sm-2 control-label">重复密码</label>
                                <div class="col-sm-10">
                                    <input type="password" class="form-control" id="RePassword" required=""
                                        placeholder="请重复输入密码">
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" onclick="submit()">
                            提交
                        </button>
                        <button type="button" class="btn btn-default"
                            data-dismiss="modal">
                            关闭
                        </button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal -->
        </div>
    </div>
    <footer class="row">
        <p class="col-md-9 col-sm-9 col-xs-12 copyright">
            <a href="/"></a>
        </p>

        <p class="col-md-3 col-sm-3 col-xs-12 powered-by">
           
               
        </p>
    </footer>



     <object id="plugin0" type="application/npsyunew6-plugin" width="1" height="1">
    </object>
</body>


</html>
